<section class="card">
  <div class="card-body">
    <h1>Acerca de nosotros</h1>
    <p>
En la Universidad Experimental de Guayana la estructuración y organización de horarios por el estudiante habitualmente se realiza de forma manual, generando problemas de tiempo empleados en la asignación de las materias, es por ello que se propuso el desarrollo de una herramienta web para la gestión estudiantil de horarios de clase, a través, de la decodificación de documentos públicos. El estudio realizado se enmarca en la modalidad de una investigación de tipo aplicativo y cuantitativo, lo que permitió realizar un análisis que orientó al desarrollo de un proyecto factible de tipo prototipo funcional. La población estuvo representada por una media representativa de estudiantes comprendidos desde el segundo semestre hacia el noveno semestre, de esa misma se tomó un número reducido de estudiantes para la realización de encuestas y a fines permitiendo comprobar las hipótesis planteadas por medios de análisis estadísticos lo cual proporciono la creación de un sistema automatizado y digital de gestión de horarios de clases para el estudiante el cual se le brinda de un beneficio además de una herramienta innovadora permitiendo así que las instituciones universitarias mejoren dando servicio de calidad, por tal motivo se recomienda implementarse en la totalidad de las carreras de la Universidad.    </p>
  </div>
</section>
