<div class="card card-body p-5 mt-4">
  <h1 class="display-4">APP HORARIOS UNEG</h1>
  <p class="lead">Alexis Maita - Angel Jaramillo</p>
  <hr class="my-4" />
  <p>
    Herramienta web para la gestión estudiantil de horarios de clase, empleando la decodificación de documentos públicos. Caso: Proyecto de carrera de Ingeniería en Informática.
    Trabajo de Grado de Pregrado presentado como requisito parcial 
      Para optar al título De Ingeniero en Informática
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >REGISTRO</a>
  </div>
</div>