body {
  background: #f6f6ff;
}

.logo {
  width: 30%;
}

.bg-blue {
  background: #02017f;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: black;
  font-weight: bold;
}

.btn:hover {
    color: #ffffff;
    background-color: #0402f4;
    border-color: #000000;
}